@import './head.css';
@import './myMenu.css';
@import './litteWhite.css';
@import './item.css';
@import './bottom.css';

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 18px;
  }
  
  body {
    height: 100vh;
    padding: 0;
    margin: 0; 
    background-color: #f1ecece5;
}

ul{
  padding-left: 0 !important; 
}

li{
  padding: 0;
  margin: 0;
  list-style: none;
}

a{
  text-decoration: none !important;
}

h4{
    color: #9d9a9a;
    font-weight: 550;
    line-height: 0.5;
}

a{
  color:  #9d9a9a;
  font-size: 1rem;
  margin-right: 1rem;
}

a:hover{
  color:  rgb(2, 94, 175);
}

.navbar {
  position: sticky;
  top:0;
  background-color: #f1ecec;
}

svg{
  padding-top: 2px;
}

.blue{
  color: rgb(0, 128, 240);
}

.dot-on-right {
  position: relative;
}

.dot-on-right::after {
  content: "";
  display: block;
  background-color: red;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -.5rem;
  width: 7px;
  height: 7px;
}

.dot-on-right-svg {
  position: relative;
}

.dot-on-right-svg::after{
  content: "";
  display: block;
  background-color: red;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: .5rem;
  right:0;
  width: 7px;
  height: 7px;
}

.gray{
  color: #6d6363;
  line-height: 2;
  font-size: .85rem;
  font-weight: 600;
}

.gray-lower{
  color: #c7c3c3;
  line-height: 2;
  font-size: .6rem;
  font-weight: 400;
}