.bottom{
    height: 3rem;
    position: sticky;
    bottom:0;
    display: flex;
    justify-content: space-around;
    margin: .5rem -1rem 1.5rem -1rem;
    background-color: #fff;
}

.bottom svg{
    margin-top: .5rem;
}

.flex-item{
    display: flex;
    flex-direction: column;
}

.flex-item span{
    font-size: .4rem;
    color: #6d6363;
}