.item{
    margin: 1rem 1rem 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
}

.item-head{
    position: relative;
    display: flex;
}

.item-head-img{
    margin-top: .2rem;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1px ;
    background-image: url('src/imgs/user1.jpg');
    background-size: cover;
    background-position: center;
}

.item-head-name{
    margin-left: 1rem;
}

.item-head-load{
    position: absolute;
    right: 0;
}

.item-content{
    margin-top: .5rem;
}

.item-content-link{
    margin-top: 1rem;
}

.item-content-link svg{
    padding-top: .3rem;
}

.item-content-link span{
    margin-right: 1rem;
    padding: .5rem;
    font-size: .2rem;
    border-radius: 1rem;
    color: #585252;
    background-color: #eeecec;
}

.item-content-functionList{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.item-content-functionList span{
    color: #6d6363;
}

.item-content-functionList svg{
    padding-top: .1rem;
}

.item-content-functionList svg:first-child{
    margin-left: 10vw;
}

.item-comment{
    background-color: #e9e1e1;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 10px;
}

.item-comment .item-head{
    margin-bottom: 1rem;
}
.item-comment .item-head-name{
    color:#6d6363;
    font-size: .7rem;
    padding-top: .3rem
}

.item-comment .item-head-load{
    width: 3.5rem;
    padding: 5px;
    border-radius: 1rem;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    color: red;
    background-color: #fff;
}

.item-comment  .item-content{
    margin-top: -.5rem;
    font-size: .8rem;
    color: #6d6363;
}